@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #111023;
}

img {
    width: 1700px;
    height: 800px;
    object-fit: fill;
    position: relative;
    top: 135px;
    left: 110px;
    box-shadow: 2px 2px 5px 6px lightblue;   
}